* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white !important;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.indicator-p {
  transform: translateY(50px);
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: #0d6efd;
  box-shadow: 0.3px 2px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 999;
}
.navbar-container .navbar-logo {
  position: relative;
  margin: auto 0;
  z-index: 999;
}
.navbar-container .navbar-logo:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 1px;
  background-color: #fff;
  border-radius: 10px;
}
.navbar-container .navbar-logo h3 a {
  font-family: "Poppins";
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.navbar-container .navbar-box {
  position: relative;
  width: 40%;
  transition: 0.3s;
}
.navbar-container .navbar-box .navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
  list-style: none;
}
.navbar-container .navbar-box .navbar-list li {
  position: relative;
  text-align: center;
  padding: 10px 13px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 20px;
}
.navbar-container .navbar-box .navbar-list li a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 0.3px;
  transition: 0.5s;
}
.navbar-container .navbar-box .navbar-list li:hover {
  background-color: #fff;
}
.navbar-container .navbar-box .navbar-list li:hover a {
  color: #0d6efd;
}
.navbar-container .navbar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-container .navbar-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #0d6efd;
    box-shadow: 0.3px 2px 3px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
  }
  .navbar-container .navbar-box.active {
    transform: translateX(0);
  }
  .navbar-container .navbar-box .navbar-list {
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
    margin-top: 70px;
  }
  .navbar-container .navbar-box .navbar-list li {
    text-align: left;
    width: 100%;
    padding: 15px 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .navbar-container .navbar-box .navbar-list li a {
    color: #fff;
    opacity: 0.7;
    font-size: 14px;
  }
  .navbar-container .navbar-box .navbar-list li:hover a {
    opacity: 1;
  }
  .navbar-container .navbar-toggle {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 26px;
    height: 26px;
    margin: auto 0;
  }
  .navbar-container .navbar-toggle span {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: 0.3s;
  }
  .navbar-container .navbar-toggle:before,
  .navbar-container .navbar-toggle:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: 0.3s;
  }
  .navbar-container .navbar-toggle:before {
    top: 5px;
    width: 55%;
  }
  .navbar-container .navbar-toggle:after {
    bottom: 5px;
    width: 70%;
  }
  .navbar-container .navbar-toggle.active span {
    visibility: hidden;
    opacity: 0;
  }
  .navbar-container .navbar-toggle.active:before {
    width: 100%;
    transform: translateY(6px) rotate(45deg);
  }
  .navbar-container .navbar-toggle.active:after {
    width: 100%;
    transform: translateY(-6px) rotate(-45deg);
  }
  .header {
    padding: 350px 30px;
  }
}
