* {
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white !important;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #0d6efd;
}

#projects {
  background-color: #0d6efd;
}

section {
  padding-top: 6rem;
}

.indicator-p {
  transform: translateY(50px);
}

.btn-up {
  z-index: 9999;
  position: fixed;
  right: 32px;
  bottom: 32px;
}

@media screen and (max-width: 768px) {
  .btn-up {
    right: 16px;
    bottom: 16px;
  }
}
